
body{
    background-color: lightblue;
}
/* Navbar Styling */
 nav {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}
nav a:hover {
    background-color: #555;
}

/* Page sections */
section {
    text-align: center;
    font-size: 24px;
}

html {
    scroll-behavior: smooth;
}
#home img{
    height: 300px;
    margin-top: 70px;
    box-shadow: 10px 19px 10px rgb(59, 54, 54);
    border-radius: 15px;
}
#home h4{
    color: darkblue;
    font-size: 30px;
}
#home p{
    color: rgb(36, 22, 22);
}

#about h4{
    font-size: larger;
    
}
#about h5{
    color: crimson;
}